body{
  background-color: #ddd5d0;
}

*{
  margin: 0;
  padding: 0;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

#meni{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #cfc0bd;
  height: 50px;
  
}

.centerMeni{
  padding: 5px;
}

tr:nth-child(1){
  background-color: #7f9183;
  color:black;
  font-weight: bold;
}

/*raspored elemenata na osnovu rezolucije ekrana*/
@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    align-items: flex-start;    
  }
   #studenti{      
     margin-left: 2px;
     margin-top: 30px;
     width: 58%;
   }
   #grupe{    
    margin-top: 50px;
    width: 41%;
   }
}


@media screen and (min-width: 501px) and (max-width: 799px){  
  .container{
    display: flex;  
    flex-wrap: wrap;
    grid-template-columns: 100%;
  }
   .grupeC{     
      order:1;
      margin-top: 20px;
      margin-left: 9px;
      width: 100%;
   }
   .studentiC{    
    order:2;
    margin-left: 9px;
    width: 100%;
   }  
}



@media only screen and (max-width: 500px) {
 .container{
    display: flex; 
    flex-wrap: wrap;
  }
  #meni{
    display: grid;
    grid-row-gap: 0.5em;
    text-align: center;
    height: 60px;
    width: 100%;
  }
  #grupe{
    order: 1;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
  }
  .studentiC{    
    order:2;
    margin-left: 9px;
    width: 100vh;
   }  
  .brStudenataCol{
      display: none;
    }
  .terminCol{
      display: none;
  }
}

  
.studentiC {
  padding: 1.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
}

.studentiC > div {
  background-color: #ABC4AB;
  padding: 10px;
}

.studentiC > div:nth-child(3n + 2) {
  background-color: #cfc0bd;
}

.studentiC > div:nth-child(3n) {
  background-color: #b8b8aa;
}

@media only screen and (min-width: 501px) and (max-width: 799px){
  .studentiC {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 2.5%;
    grid-row-gap: 20px;
    width: 100%;
  }
  #grupe{
    width: 100%;
  }
}

 @media only screen and (min-width: 800px) {
  .studentiC {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
} 


